.category-page {
  max-width: 800px;
  margin: auto;
  padding: 20px;
}

.category-dropdown {
  margin-bottom: 20px;
}

.exercise-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
}

.exercise-card {
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.exercise-card img {
  max-width: 100%;
  height: auto;
}

.exercise-details {
  padding: 10px;
}

.exercise-details h3 {
  margin-bottom: 10px;
}

.exercise-details p {
  font-size: 14px;
  line-height: 1.5;
}



