
.image-overlay {
    position: relative;
    overflow: hidden;
    border-radius: 5px; 
   
  }
  
  .muscle-group-image {
    display: block;
    width: 100%;
    height: auto;
    border: 5px solid #cda22a; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    transition: transform 0.3s ease-in-out; 
  }
  
  .muscle-group-image:hover {
    transform: scale(1.20); 
  }



