
#category-page {
  padding: 20px;
}

#category-columns {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

#category-column-left,
#category-column-right {
  padding: 20px;
}

#category-section {
  background-color: #e8dfcf;
  padding: 20px;
  border-radius: 5px;
}

#category-container {
  max-width: 600px;
  margin: 0 auto;
}

#category-form {
  display: flex;
  flex-direction: column;
}

#category-dropdown-field,
#exercise-dropdown-field {
  margin-bottom: 20px;
}

#category-dropdown-label,
#exercise-dropdown-label {
  font-size: 1.25rem;
  margin-bottom: 10px;
}

#category-dropdown-control,
#exercise-dropdown-control {
  width: 100%;
}

#category-dropdown-select,
#exercise-dropdown-select {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #9f7b0e;
}

#exercise-image-columns {
  margin-top: 20px;
}

#exercise-image-column {
  padding: 10px;
}

#exercise-image-card {
  box-shadow: 0 2px 5px rgba(221, 177, 126, 0.1);
}

#exercise-card-image {
  margin-bottom: 10px;
}

#exercise-figure {
  margin: 0;
}

#exercise-img {
  border-radius: 5px;
}

#exercise-card-content {
  padding: 20px;
}

#exercise-content {
  text-align: center;
}

#exercise-title {
  margin-bottom: 10px;
  font-size: 1.5rem;
}

#exercise-description {
  font-size: 1rem;
}



