
  .hero {
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 3.25rem); 
    color: #27a384;
    text-align: center;
  }
  
  .container {
    max-width: 800px;
    margin: 0 auto;
  }
  
  .has-text-centered {
    text-align: center;
  }
  
  .nav-buttons {
    display: flex;
    justify-content: space-around;
    margin-top: 20px; 
  }
  .home-page-header {
    color:#27a384
  }
  
 
  
 
  