
.hero {
   background-image: url('https://images.unsplash.com/photo-1627483298099-7c2d9d9324e0?w=800&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1yZWxhdGVkfDZ8fHxlbnwwfHx8fHw%3D'); 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white; 
}

#home-page-header {
  font-weight: bold;
  color:rgb(242, 240, 233);
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  transform: skew(-10deg);
  padding: 20px;
  border-radius: 10px;
}

.hero-body {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
}

h2 {
  font-weight: bold;
  margin-top: 10px;
}


.image-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 50px; 
}

.image-grid img {
  width: 100%;
  height: auto; 
  border-radius: 10px; 
}
h2 {
  font-weight: bold;
  color:white;
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  transform: skew(-10deg);
  padding: 10px;
  border-radius: 10px;
  font-size: 20px;
}






 
  
 
  