#unique-timer-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
  position: relative;
  z-index: 1;
  color: white; 
}

#unique-timer-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('https://images.unsplash.com/photo-1591207405010-1bf742ac5184?q=80&w=1214&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.5; 
  z-index: -1;
}

#unique-timer-input-hours, #unique-timer-input-minutes, #unique-timer-input-seconds {
  margin-bottom: 10px;
}

#unique-timer-input-hours label, #unique-timer-input-minutes label, #unique-timer-input-seconds label {
  margin-right: 10px;
}

#unique-timer-input-hours input, #unique-timer-input-minutes input, #unique-timer-input-seconds input {
  width: 50px;
  padding: 5px;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

#unique-timer-controls {
  margin-bottom: 20px;
}

#unique-timer-controls button {
  margin-right: 10px;
  padding: 10px 20px;
  background-color: #e7c55e;
  color: rgb(119, 33, 33);
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

#unique-timer-controls button:hover {
  background-color: #b9bb7d;
}

#unique-timer-display {
  position: relative;
  width: 250px;
  height: 250px;
  margin: 0 auto;
  color: rgb(23, 20, 20);
  font-size: 48px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #d9b122;
  border-radius: 50%;
  border: 5px solid #007bff;
}

#unique-timer-display svg.unique-timer-svg {
  position: absolute;
  width: 100%;
  height: 100%;
}

#unique-timer-display circle.unique-timer-circle {
  transform: rotate(-90deg);
  transform-origin: 50% 50%;
  stroke: #007bff;
  stroke-width: 10px;
  stroke-linecap: round;
}

#unique-timer-label {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 20px;
}

#unique-timer-intro {
  margin-bottom: 20px;
  font-size: 18px;
  font-weight: bold;
  color: rgb(181, 129, 38);
  padding: 20px;
  margin-top: 20px;
}

#unique-timer-intro p {
  color: rgb(181, 129, 38);
  padding: 50px;
  font-size: 20px;
  margin-top: 20px;
}
